body,
h1 {
    font-family: Arial, Helvetica, sans-serif
}

div.footer,
h1,
table {
    text-align: center
}

body {
    font-size: 10pt;
    color: #4a132e;
    line-height: 16pt;
    padding-left: 5pt;
    padding-top: 5pt;
    padding-right: 5pt;
    background-color: #4db44d
}

h1 {
    font-size: 20pt;
    font-weight: 700;
    line-height: 20pt
}

table {
    width: 100%;
    border-collapse: collapse
}

a {
    text-decoration: underline
}

a:visited {
    color: #8a2be2
}

a:active {
    color: #000
}

a:hover {
    color: #0ff
}

button {
    width: 100%;
    background-color: #7d7db6
}

div.footer {
    color: #7d7db6;
    font-size: 8pt;
    font-style: italic;
    line-height: 10pt
}